<div class="business-header">
  <div class="header-title1">
    <p class="header-title2">B U S I N E S S</p>
    <p class="header-title3">事業紹介</p>
  </div>
</div>


<div class="container">

  <div class="businesslist", id="event">
  	<div class="eventtext">
  	  <p class="businesslist-head">
  	  	イベントプロモーション
  	  </p>
  	  <p class="businesslist-text">
  	    商品の販売を促進するイベントを基本的に土日祝日で行います。<br>
        弊社ではドローンを用いた体験型のイベントや、簡単な抽選会のイベント、<br>楽しいコンテンツを用いたイベントから成果を生み出します。
      </p>
      <p class="businesslist-text2">
        商品の販売を促進するイベントを<br>
        基本的に土日祝日で行います。<br>
        弊社ではドローンを用いた体験型のイベント、簡単な抽選会のイベント、<br>楽しいコンテンツを用いたイベントから成果を生み出します。
      </p>
    </div>
    <div class="eventimage">
    </div>
  </div><br>

  <div class="businesslist", id="mobile">
  	<div class="mobiletext">
  	  <p class="businesslist-head">
  	  	通信商材販売営業
  	  </p>
  	  <p class="businesslist-text">
        販売能力に長けているスタッフが平日に販売営業の代行を致します。<br>
        培ったセールスメソッドを論理的に社内研修で共有実行しておりますので、<br>
        お客様のご要望にお応え致します。営業コンサルティングも行なっております。
      </p>
      <p class="businesslist-text2">
        販売能力に長けているスタッフが平日に販売営業の代行を致します。<br>
        培ったセールスメソッドを論理的に社内研修で共有実行しておりますので、<br>
        お客様のご要望にお応え致します。営業コンサルティングも行なっております。
      </p>
    </div>
    <div class="mobileimage">
    </div>
  </div><br>

  <div class="businesslist", id="drone">
  	<div class="dronetext">
  	  <p class="businesslist-head">
  	  	ドローン空撮
  	  </p>
  	  <p class="businesslist-text">
        PRに用いる静止画と動画や、イベント撮影、人が目視するのに危険な場所等、<br>
        納品の内容は様々で、空撮を通してお客様に感動を届けます。<br>
        詳細につきましてはお気軽にお問い合わせください。<br>
        ※国土交通省全国包括申請許可承認済み
      </p>
      <p class="businesslist-text2">
        PRに用いる静止画と動画や、イベント撮影、人が目視するのに危険な場所等、<br>
        納品の内容は様々で、空撮を通してお客様に感動を届けます。<br>
        詳細につきましてはお気軽にお問い合わせください。<br>
        ※国土交通省全国包括申請許可承認済み
      </p>
    </div>
    <div class="droneimage">
    </div>
  </div><br>

  <div class="businesslist", id="youtube">
  	<div class="youtubetext">
  	  <p class="businesslist-head">
  	  	Youtubeチャンネル運営
  	  </p>
  	  <p class="businesslist-text">
        YouTubeの企画・運営から撮影・編集まで全てサポートします。<br>
        豊富な実績と経験を用いた弊社独自のノウハウがあります。<br>
        動画編集のみ等でも承っていますのでお気軽にお問い合わせください。
      </p>
      <p class="businesslist-text2">
        YouTubeの企画・運営から<br>
        撮影・編集まで全てサポートします。<br>
        豊富な実績と経験を用いた弊社独自のノウハウがあります。<br>
        動画編集のみ等でも承っていますのでお気軽にお問い合わせください。
      </p>
    </div>
    <div class="youtubeimage">
    </div>
  </div>
</div><br><br>

<div class="center">
	<%= link_to "ご依頼・お問い合わせはこちら", contact_path %>
</div><br><br>