<div class="company-header">
  <div class="header-title1">
    <p class="header-title2">C O M P A N Y</p>
    <p class="header-title3">会社概要</p>
  </div>
</div>

<div class="center">
	<P class="companyhead">
		この度は株式会社Lifes.のホームページにお越し頂き誠にありがとうございます。<br><br>
		弊社では、通信商材販売営業の代行をメインにおこなっており、<br><br>
		他にもイベントプロモーション、ドローンでの空撮、YouTubeチャンネルの運営サポート等を行なっております。<br><br>
        目まぐるしい現代、今できること、新しいことに全力で取り組み、お客様や、お取り引き様のご要望にお応え致します。<br><br>
        何卒、御指導御鞭撻の程、宜しくお願い申し上げます。<br><br><br>
	</P>
</div>

<div class="container">

  <div class="ceo">
    <div class="ceoimage">
    </div>
    <div class="ceoname">
    	株式会社Lifes.代表取締役社長<br>
    	末吉力朗
    </div>
  </div><hr><br>

  <div class="row">
    <div class="center">
      <p class="header-title3">企業概要</p><br>
    </div>
    <div class="col-xs-6">
  	  <table class="table">
        <tr>
          <th class="col-xs-2"><p></p>社名</th>
          <td class="col-xs-4"><p></p>株式会社Lifes.<p></p></td>
        </tr>
        <tr>
          <th><p></p>代表取締役</th>
          <td><p></p>末吉 力朗(すえよし よしあき)<p></p></td>
        </tr>
        <tr>
          <th><p></p>所在地</th>
          <td><p></p>大阪府大阪市北区天満橋パークビル4階<p></p></td>
        </tr>
        <tr>
          <th><p></p>電話番号</th>
          <td><p></p>06-7182-2493</td>
        </tr>
      </table>
    </div>
    <div class="col-xs-6">
  	  <table class="table">
        <tr>
          <th class="col-xs-2"><p></p>設立</th>
          <td class="col-xs-4"><p></p>2017年9月14日<p></p></td>
        </tr>
        <tr>
          <th><p></p>資本金</th>
          <td><p></p>500,000円<p></p></td>
        </tr>
        <tr>
          <th><p></p>従業員数</th>
          <td><p></p>25名<p></p></td>
        </tr>
        <tr>
          <th><p></p>事業内容</th>
          <td><p></p>イベントプロモーション・通信商材販売営業<br>ドローン空撮・YouTubeチャンネル運営</td>
        </tr>
      </table>
    </div>
  </div><hr><br>

</div>

