<div class="recruit-header">
  <div class="header-title1">
    <p class="header-title2">R E C R U I T</p>
    <p class="header-title3">採用情報</p>
  </div>
</div><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>