<div class="top">
  <div class="hope">
    <p class="hope-sub">Create People who give Hope</p>
    <p class="hope-title">希望を配る人を輩出する</p>
  </div>
</div>

<div class="container">
  <div class="col-xs-2">
  </div>
  <div class="col-xs-8">
    <div class="top-text">
      <div class="center">
	    <p class="top-text-title">希望を配る人を輩出する。</p><hr>
        <div class="top-text-text">
          <p>リーダーとは“希望を配る人”。<br><br>
          	それは素晴らしい熱量を共有する。謙虚だが自信に溢れ、妥協がない。<br><br>
          	常に最善をつくす、そして結果をだす。<br><br>
            何事にも感謝をする、苦難に負けず乗り越えていける。<br><br>
            人情に熱く思いやりがある。<br><br>
            様々な“希望を配る人”を輩出し、世の中に貢献できる人、会社でありたい。<hr>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>