/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'font-awesome-sprockets';
@import "font-awesome";
@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&display=swap');

body{
	font-family: 'Noto Serif JP', serif;
	width:100%;
}
.body{
	min-height: 82vh;
}
.center{
	text-align: center;
}
.right{
	text-align: right;
}
.vh{
	height: 100%;
}


header{
	height: 60px;
	width: 100%;
	background-color: rgba(255,255,255,0.8);
	position: fixed;
	z-index:1000;
}
.header-list{
	float: right;
	line-height: 60px;
}
.Editlink1{
	margin-left: 20px;
	text-decoration: none;
	color:black;
}
.Editlink1:link, .Editlink:visited, .Editlink:active{
	color:black;
	text-decoration: none;
}
.Editlink2:link, .Editlink:visited, .Editlink:active{
	color:black;
	text-decoration: none;
}
.Editlink1:hover{
	color:rgba(0,0,0,0.7);
}
.Editlink3:link, .Editlink:visited, .Editlink:active{
	color:black;
	text-decoration: none;
}
footer{
	height: 18vh;
	background-color: rgba(255,131,0,1);
	color:white;
	font-size: 15px;
}
.footer-title{
	margin-top: 25px;
}
.footer-address{
	float: left;
}
.footer-right{
	margin-top: 15px;
	float: right;
}





.top{
	height:100vh;
	width:100%;
	background-image: image-url('top.jpg');
	background-size: cover;
    background-position: 50% 50%;
}
.hope{
	padding-top: 35vh;
	padding-left:32vh;
	color:black;
}
.hope-sub{
	font-size: 43px;
	font-family: 'Nothing You Could Do', cursive;
	font-weight: bold;
}
.top-text{
	margin-top: 50px;
}
.top-text-title{
	font-size: 3vmax;
}
.top-text-text{
	font-size: 1.4vmax;
}
.business{
	height:700px;
	width:100%;
}
.business:link,.business:hover{
	text-decoration: none;
}
.mobile{
	height:350px;
	width:50%;
	background-image: image-url('mobile2.jpg');
    background-size:cover;
    float:right;
}
.mobile:hover{
	background-image: image-url('mobile.jpg');
	text-decoration: none;
}
.event{
	height:350px;
	width:50%;
	background-image: image-url('event2.jpg');
    background-size:cover;
}
.event:hover{
	background-image: image-url('event.jpg');
    text-decoration: none;
}
.youtube{
	height:350px;
	width:50%;
	background-image: image-url('youtube2.jpg');
    background-size:cover;
    float:right;
}
.youtube:hover{
	background-image: image-url('youtube.jpg');
	text-decoration: none;
}
.drone{
	height:350px;
	width:50%;
	background-image: image-url('drone2.jpg');
    background-size:cover;
}
.drone:hover{
	background-image: image-url('drone.jpg');
	text-decoration: none;
}
 .business-name{
 	padding-left: 30px;
	padding-top: 50px;
	font-size: 30px;
	color: black;
	border-bottom: solid 1px rgba(0,0,0,0.2);
}
 .business-name:hover{
	text-decoration: none;
 }
.news{
	margin-top:50px;
}
.news-title{
	font-size: 35px;
	text-align: center;
}
.news-body{
	font-size: 17px;
}





.business-header{
	background-image: image-url('business.jpg');
    background-size:cover;
    width:100%;
    height:30vh;
    margin-bottom: 20vh;
}
.company-header{
	background-image: image-url('company.jpg');
    background-size:cover;
    width:100%;
    height:30vh;
    margin-bottom: 20vh;
}
.recruit-header{
	background-image: image-url('recruit.jpg');
    background-size:cover;
    width:100%;
    height:30vh;
    margin-bottom: 20vh;
}
.contact-header{
	background-image: image-url('contact.jpg');
    background-size:cover;
    width:100%;
    height:30vh;
    margin-bottom: 20vh;
}
.news-header{
	background-image: image-url('news.jpg');
    background-size:cover;
    width:100%;
    height:30vh;
    margin-bottom: 15vh;
}
.recruitment-header{
	background-image: image-url('recruitment.jpg');
    background-size:cover;
    width:100%;
    height:30vh;
}
.header-title1{
	text-align: center;
	padding-top: 27vh;
}
.header-title2{
	font-size:45px;
    font-family: 'Merriweather', serif;
}
.header-title3{
	font-size: 25px;
}





.businesslist{
	height:50vh;
	width: 100%;
}
.businesslist-head{
	font-size: 28px;
}
.businesslist-text{
	font-size: 16px;
}
.eventtext{
	background-color:rgba(255,250,250,0.9);
	width: 62%;
	padding: 5vh;
    margin-top: 15vh;
	float: left;
}
.eventimage{
	background-image: image-url('event3.jpg');
	background-size: cover;
	margin-left: 50vh;
	height:50vh;
	width: 70%;
}
.mobiletext{
	background-color:rgba(255,250,250,0.9);
	width: 62%;
	padding: 7vh;
    margin-top: 15vh;
	float: right;
}
.mobileimage{
	background-image: image-url('mobile3.jpg');
	background-size: cover;
	height:50vh;
	width: 70%;
}
.dronetext{
	background-color:rgba(255,250,250,0.9);
	width: 62%;
	padding: 5vh;
    margin-top: 18vh;
	float: left;
}
.droneimage{
	background-image: image-url('drone3.jpg');
	background-size: cover;
	margin-left: 50vh;
	height:50vh;
	width: 70%;
}
.youtubetext{
	background-color:rgba(255,250,250,0.9);
	width: 62%;
	padding: 7vh;
    margin-top: 8vh;
	float: right;
}
.youtubeimage{
	background-image: image-url('youtube3.jpg');
	background-size: cover;
	height:50vh;
	width: 70%;
}





.headtext{
	font-size: 18px;
}
.ceo{
	height:35vh;
	margin-left: 25vh;
	display: flex;
}
.ceoimage{
    background-image: image-url('ceo.jpg');
    background-size: cover;
    height:35vh;
    width:25vh;
}
.ceoname{
	padding-top: 25vh;
	font-size: 20px;
    margin-left: 5vh;
}




.thanks{
	margin-top: 60px;
	text-align: center;
	position: fixed;
	width: 100vw;
	z-index: 1000;
}






@media screen and (min-width:800px) {

.header2{
	font-size: 0px;
	height: 0px;
	width: 0px;
	opacity: 0;
}
.headtext2{
	font-size: 0px;
}
.businesslist-text2{
	font-size: 0px;
}
}

@media screen and (max-width:800px) {


header{
	font-size: 0px;
	position: absolute;
	z-index: 0;
}
.header2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background: rgba(255,255,255,0.8);
  width: 100%;
  height:60px;
  font-size: 20px;
}

.logo {
  font-size: 24px;
  height:60px;
}
.drawer-hidden {
  display: none;
}
/* ハンバーガーアイコンの設置スペース */
.drawer-open {
  display: flex;
  height: 60px;
  width: 60px;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 100;/* 重なり順を一番上に */
  cursor: pointer;
  margin-top: 40px;
}
/* ハンバーガーメニューのアイコン */
.drawer-open span,
.drawer-open span:before,
.drawer-open span:after {
  content: '';
  display: block;
  height: 3px;
  width: 25px;
  border-radius: 3px;
  background: #333;
  transition: 0.5s;
  position: absolute;
}
/* 三本線のうち一番上の棒の位置調整 */
.drawer-open span:before {
  bottom: 8px;
}
/* 三本線のうち一番下の棒の位置調整 */
.drawer-open span:after {
  top: 8px;
}
/* アイコンがクリックされたら真ん中の線を透明にする */
#drawer-check:checked ~ .drawer-open span {
  background: rgba(255, 255, 255, 0);
}
/* アイコンがクリックされたらアイコンが×印になように上下の線を回転 */
#drawer-check:checked ~ .drawer-open span::before {
  bottom: 0;
  transform: rotate(45deg);
}
#drawer-check:checked ~ .drawer-open span::after {
  top: 0;
  transform: rotate(-45deg);
}
/* メニューのデザイン*/
.drawer-content {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 100%;/* メニューを画面の外に飛ばす */
  z-index: 99;
  background: rgba(255,255,255,0.8);
  transition: .5s;
}
/* アイコンがクリックされたらメニューを表示 */
#drawer-check:checked ~ .drawer-content {
  left: 0;/* メニューを画面に入れる */
}
ul {
  list-style: none;
}
.Editlink3{
  color: black;
}
.border{
  display: block;
  width: 100%;
  height: 2px;
  background-color: rgba(255,131,0,1);
  border: 0;  /*デフォルトデザインでは線がある場合があるので、消しておく。*/
}



footer{
	text-align: center;
	height: 180px;
	background-color: rgba(255,131,0,1);
	color:white;
	font-size: 15px;
}
.footer-title{
	margin-top: 10;
}
.footer-address{
	float: none;
}
.footer-right{
	font-size: 10px;
	margin-top: 0px;
	float: none;
}





.top{
	margin-top: -60px;
}
.hope{
	padding-top: 25vh;
	padding-left:0vh;
	text-align: center;
}
.top-text{
	height:0px;
	margin-top: 0px;
}
.top-text-title{
	font-size: 0px;
}
.top-text-text{
	font-size: 0px;
}
.business{
	height:120vh;
	width:100%;
}
.mobile{
	height:30vh;
	width:100%;
    float:none;
}
.event{
	height:30vh;
	width:100%;
}
.youtube{
	height:30vh;
	width:100%;
    float:none;
}
.drone{
	height:30vh;
	width:100%;
}
 .business-name{
 	padding-left: 10px;
	padding-top: 30px;
	font-size: 25px;
	color: black;
	border-bottom: solid 1px rgba(0,0,0,0.2);
}
.news-body{
	font-size: 13px;
}





.business-header{
    background-position: 50% 50%;
	margin-bottom: 15vh;
}
.company-header{
	margin-bottom: 15vh;
}
.recruit-header{
	background-position: 50% 50%;
	margin-bottom: 15vh;
}
.contact-header{
	background-position: 70% 50%;
	margin-bottom: 15vh;
}
.header-title1{
	text-align: center;
	padding-top: 27vh;
}
.header-title2{
	font-size:45px;
    font-family: 'Merriweather', serif;
}
.header-title3{
	font-size: 25px;
}



.businesslist{
	height:40vh;
	width: 100%;
	text-align: center;
	margin-top: 0vh;
}
.businesslist-head{
	font-size: 16px;
	font-weight: bold;
}
.businesslist-text{
	font-size: 0px;
}
.businesslist-text2{
	font-size: 14px;
}
.eventtext{
	background-color:rgba(255,250,250,0.7);
	border-radius: 10%;
	height:35vh;
	width: 90%;
	margin-left: 5%;
	padding: 5vw;
    margin-top: 2.5vh;
	float: left;
}
.eventimage{
	background-image: image-url('event3.jpg');
	background-size: cover;
	background-position: 70% 50%;
	border-radius: 10%;
	margin-left: 0vw;
	height:40vh;
	width: 100%;
}
.mobiletext{
	background-color:rgba(255,250,250,0.7);
	border-radius: 10%;
	height: 35vh;
	width: 90%;
	padding: 5vw;
	margin-left: 5%;
    margin-top: 2.5vh;
	float: left;
}
.mobileimage{
	background-image: image-url('mobile3.jpg');
	background-size: cover;
	border-radius: 10%;
	height:40vh;
	width: 100%;
}
.dronetext{
	background-color:rgba(255,250,250,0.7);
	border-radius: 10%;
	height: 35vh;
	width: 90%;
	padding: 5vw;
	margin-left: 5%;
    margin-top: 2.5vh;
	float: left;
}
.droneimage{
	background-image: image-url('drone3.jpg');
	background-size: cover;
	background-position: 70% 50%;
	border-radius: 10%;
	margin-left: 0vh;
	height:40vh;
	width: 100%;
}
.youtubetext{
	background-color:rgba(255,250,250,0.7);
	border-radius: 10%;
	height: 35vh;
	width: 90%;
	padding: 5vw;
	margin-left: 5%;
    margin-top: 2.5vh;
	float: left;
}
.youtubeimage{
	background-image: image-url('youtube3.jpg');
	background-size: cover;
	border-radius: 10%;
	height:40vh;
	width: 100%;
}





.headtext{
	font-size: 0px;
}
.headtext2{
	font-size: 13px;
}





.ceo{
	height:35vh;
	margin-left: 0vh;
	display: flex;
}
.ceoimage{
    background-image: image-url('ceo.jpg');
    background-size: cover;
    height:35vh;
    width:60vh;
}
.ceoname{
	height: 35vh;
	width: 40vh;
	padding-top: 26vh;
	font-size: 15px;
    margin-left: 1vh;
}



}







