/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'font-awesome-sprockets';
@import "font-awesome";
@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@600&display=swap');

.center{
	text-align: center;
}

header{
	height: 60px;
	width: 100%;
	background-color: rgba(255,255,255,0.8);
	position: fixed;
}
.header-list{
	float: right;
	line-height: 60px;
	font-family: 'Noto Serif JP', serif;
}
.Editlink{
	margin-left: 20px;
}
.Editlink:link, .Editlink:visited, .Editlink:active{
	color:black;
	text-decoration: none;
}
.Editlink:hover{
	color:rgba(0,0,0,0.7);
}


.top{
	height:830px;
	width:100%;
	background-image: image-url('top.jpg');
    background-size:cover;
}
.hope{
	padding-top: 300px;
	padding-left:330px;
	color:white;
}
.hope-title{
	font-size: 35px;
	font-family: 'Noto Serif JP', serif;
}
.hope-sub{
	font-size: 40px;
	font-family: 'Nothing You Could Do', cursive;
}
.top-text{
	margin-top: 70px;
	font-family: 'Noto Serif JP', serif;
}
.top-text-title{
	font-size: 35px;
}
.top-text-text{
	font-size: 20px;
}